/*
Nav
*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    margin-right: 406px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

header {
    margin-bottom: 50px;
}

/*
Index
*/

body {
    background-image: url("images/maplestoryBackground.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

nav {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;
}

.flex-container>div {
    margin: 10px;
    padding: 20px;
}

.video {
    display: flex;
    align-items: center;
}

img[src*="images/maplestoryNext.png"] {
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.pop img:hover {
    filter: contrast(150%) hue-rotate(-20deg);
    transform: scale(1.1);
    transition: all 0.5s;
}

.pop img {
    transition: all 0.5s;
}