body {
    background-color: #e7b87d;
    color: #5a1e64;
}

nav {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;
}

.flex-container>div {
    margin: 10px;
    padding: 20px;
}

.video {
    display: flex;
    align-items: center;
}