/*
Nav
*/

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nav-list li {
    float: left;
}

.nav-list li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-family: "basic-sans", sans-serif;
    font-size: 1.2em;
}

header {
    margin-bottom: 80px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
}

li a:hover {
    background-color: #4b4b4b;
    border-radius: 10%;
}

/*
Maplestory
*/

#maplestory-landing {
    background-image: url("images/maplestoryBackground.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0px;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 10px;
}

/* 
Hero
*/

.video-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50vh;
}

iframe {
    width: 85vw;
    height: 50vh;
}

/*
Mastery
*/

.content {
    width: 85%;
}

.frame {
    display: flexbox;
    background: #fefefe;
    border-radius: 25px;
    height: 100%;
    margin: 8px;
}

.mastery-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;

    border-radius: 0.8%;
    margin: 10px;
    padding: 20px;
}

.mastery-text {
    padding-left: 100px;
}

.mastery-img {
    padding-right: 50px;
    margin: 8px;
}

img[src*="images/maplestoryLara.png"] {
    max-width: 100%;
    max-height: 100%;
}

h2 {
    display: flex;
    justify-content: left;
    align-items: center;

    margin-top: 0;
    font-family: "basic-sans", sans-serif;
    font-weight: bolder;
    font-size: 52px;
    color: #225aa7;
    text-transform: uppercase;
}

.mastery-font {
    font-family: "basic-sans", sans-serif;
    font-weight: lighter;
    font-size: 30px;
    color: #282220;
}

/*
Skill 
*/

.skill-frame {
    display: flexbox;
    border-radius: 25px;
}

.skill-list {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    justify-content: center;

    border-radius: 0.8%;
}

.skill-img {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background: rgb(56, 56, 56);
    background: linear-gradient(45deg, rgba(56, 56, 56, 1) 0%, rgba(201, 201, 201, 1) 50%, rgba(88, 88, 88, 1) 100%);
}

.skill-img img {
    padding: 10px;
    border-radius: 15px;
    min-width: 400px;
    min-height: 400px;
}

.skill-text-box {
    display: flexbox;
    background: #fefefe;
    border-radius: 25px;
    height: calc(100% - 60px);
    margin-left: 20px;
    padding: 30px;
    padding-left: 60px;
    padding-right: 60px;
}

h3 {
    display: flex;
    justify-content: left;
    align-items: center;

    margin: 0px;
    padding-left: 20px;
    padding-top: 30px;

    font-family: "basic-sans", sans-serif;
    font-weight: bolder;
    font-size: 52px;
    color: #2ec54a;
    text-transform: uppercase;
}

.skill-font {
    font-family: "basic-sans", sans-serif;
    font-weight: lighter;
    font-size: 30px;
    color: #282220;
    margin: 30px;
    padding-top: 30px;
}

/*
About
*/

.grid-frame {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;

    border-radius: 0.8%;
    padding-left: 50px;
    padding-bottom: 50px;
}

h1 {
    text-align: center;
    font-size: 52px;
    font-family: "basic-sans", sans-serif;


}

.about-text {
    text-align: center;
    font-size: 24px;
    font-family: "basic-sans", sans-serif;
}


h4 {
    text-align: center;
    font-size: 35px;
    font-family: "basic-sans", sans-serif;
}

/*
Buttons
*/

.container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.git {
    background-color: #bd8530;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10%;

}

div>a {
    height: 200px;
    width: 200px;
}

.git:hover {
    background-color: #7a5a20;
    border-radius: 10%;
}

/*
Maple Footer
*/

.maple-footer {
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: #333333;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
}

.media {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*
Images
*/

img[src*="images/Sumomi.png"] {
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.pop img:hover {
    /* filter: contrast(150%) hue-rotate(-20deg); */
    transform: scale(1.5);
    transition: all 0.5s;
}

.pop img {
    transition: all 0.5s;
}

/*
Videos
*/

.video {
    display: flex;
    align-items: center;
}

/*
Home
*/

.home-body {
    font-size: 32px;
}

#home {
    background-color: #fefefe;
    background-image: none;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0px;
}

.home-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
}

.home-content {
    width: 70%;
    height: auto;
}

.home-frame {
    border-radius: 25px;
}

.home-grid-frame {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 450px;
    column-gap: 20px;
}

.grid-left {
    background-color: #D9EAFD;
    width: 100%;
    border-radius: 10px;
    height: auto;
    padding-bottom: 18px;
}

.grid-right {
    background-color: #D9EAFD;
    width: 100%;
    border-radius: 10px;
    padding-bottom: 18px;
}

.maple-image {
    display: flex;
    justify-content: center;
    justify-items: center;
    height: auto;
}

.maple-image img {
    max-width: 100%;
    height: 300px;
}

.dish-image {
    display: flex;
    justify-content: center;
    justify-items: center;
    max-width: 100%;
    height: 300px;
}

.dish-image img {
    max-width: 100%;
    height: 250px;
    border-radius: 10px;
    margin-top: 20px;
}

.maple-text-box {
    display: block;
    font-family: "basic-sans", sans-serif;
    font-weight: lighter;
    color: #282220;
    justify-content: center;
    align-items: center;
}

.maple-text-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 52px;
}

.maple-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    padding-left: 50px;
    padding-right: 50px;
}

a:link {
    text-decoration: none;
}

.home-grid-frame a {
    width: auto;
}

.home-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9AA6B2;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer-text {
    display: flex;
    font-family: "basic-sans", sans-serif;
    font-weight: lighter;
    font-size: 30px;
    color: #282220;
}

/*
Dish 
*/

.dish-container {
    display: flex;
    justify-content: center;
    justify-items: center;
    max-width: 100%;
}

.dish-container img {
    max-width: 70%;
    margin-top: 20px;
}

.dish-text-box {
    display: block;
    font-family: "basic-sans", sans-serif;
    font-weight: lighter;
    color: #282220;
}

.dish-text-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 52px;
}

.dish-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    padding-left: 50px;
    padding-right: 50px;
}

#dish-list {
    background-color: #fefefe;
}

.dish-tech {
    font-size: 30px;
}

.dish-tech li {
    padding: 5px
}

.dish-tech li div {
    padding-left: 20px;
    padding-top: 10px;
}

.github-link {
    display: flex;
    align-self: center;
    justify-content: center;
}

.a-frame {
    align-self: center;
    justify-content: center;
}

.github-link a .git {
    height: 50px;
    width: 120px;
    cursor: pointer;
}

/* 
Speedy
*/

.speedy-image {
    display: flex;
    justify-content: center;
    justify-items: center;
    height: auto;
    padding-top: 30px;
}

.speedy-image img {
    border-radius: 10px;
}

.speedy-text-box {
    display: block;
    font-family: "basic-sans", sans-serif;
    font-weight: lighter;
    color: #282220;
}

.speedy-text-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 52px;
}

.speedy-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    padding-left: 50px;
    padding-right: 50px;
}

.speedy-container {
    display: flex;
    justify-content: center;
    justify-items: center;
    max-width: 100%;
    padding-bottom: 18px;
}

.speedy-container img {
    max-width: 70%;
    margin-top: 20px;
}

/* 
Temp right
*/

.temp-right {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "basic-sans", sans-serif;
    font-weight: lighter;
    color: #282220;
    height: 337px;
    font-size: 72px;
}